* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card-body {
    display: flex;
    flex-direction: column;
    border: 2px solid lightgrey;
    border-radius: 10px;
    width: 200px;
    height: 260px;align-items: center;
    position: relative;
}
.top-card {
    display: flex;
    justify-content:space-between;
    width: 100%;
}
.item-left svg {
    width: 20px;
}
.box-circle {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -20px;
    top: -20px;
}
.inside {
    font-family: monospace;
    font-size: 24px;
    font-weight: 500;
    color: white;
}
.center-card {
    display: flex;
    width: 180px;
    height: 300px;
}
.name-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    border-top: 2px solid lightgray;
}
.text {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size: 20px;
}
